In [1]:
import os
import csv
import pandas as pd

In [2]:
file = "Data/master.csv"
suicide_data = pd.read_csv(file, encoding = "ISO-8859-1")
suicide_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [9]:
suicide_data.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [27]:
data_group_country = suicide_data.groupby(["country","year"])
data_group_country["suicides_no"].sum()

country              year
Albania              1987      73
                     1988      63
                     1989      68
                     1992      47
                     1993      73
                     1994      50
                     1995      88
                     1996      89
                     1997     170
                     1998     154
                     1999     139
                     2000      54
                     2001     119
                     2002     133
                     2003     124
                     2004     146
                     2005       0
                     2006       0
                     2007     124
                     2008     160
                     2009       0
                     2010      96
Antigua and Barbuda  1985       0
                     1986       0
                     1987       0
                     1988       0
                     1989       0
                     1990       1
                     1991       0
                     1992       0
                             ...
Uruguay              2007     576
                     2008     523
                     2009     511
                     2010     547
                     2012     599
                     2013     546
                     2014     591
                     2015     630
Uzbekistan           1990    1459
                     1991    1393
                     1992    1344
                     1993    1355
                     1994    1419
                     1995    1485
                     1996    1699
                     1997    1554
                     1998    1620
                     1999    1795
                     2000    1919
                     2001    1914
                     2002    1576
                     2003    1416
                     2004    1251
                     2005    1221
                     2009    1399
                     2010    1464
                     2011    1640
                     2012    1835
                     2013    1950
                     2014    2095
Name: suicides_no, Length: 2321, dtype: int64

In [23]:
data_group_country = suicide_data.groupby["country"]["year")]
number_country = data_group_country.loc["suicides_no"]
number_country.head()

SyntaxError: invalid syntax (<ipython-input-23-d2b1c2c3ba02>, line 1)