In [2]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
cleaned_data = pd.read_csv("data/data_noHDI.csv")
del cleaned_data["country-year"]
cleaned_data.head()

,Unnamed: 0,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers

In [5]:
cleaned_data["age"].value_counts()

25-34 years    4642
75+ years      4642
35-54 years    4642
55-74 years    4642
15-24 years    4642
5-14 years     4610
Name: age, dtype: int64

In [6]:
cleaned_data["sex"].value_counts()

male      13910
female    13910
Name: sex, dtype: int64

In [12]:
#cleaned_data.dtypes

sub_data = cleaned_data.loc[:,["country","year","sex","age","suicides_no"]]
group_data = sub_data.groupby(["country","age","sex"])
group_data.count()
#group_data["suicides_count"] = group_data["suicides_no"].sum()

                                        year  suicides_no
country             age         sex
Albania             15-24 years female    22           22
                                male      22           22
                    25-34 years female    22           22
                                male      22           22
                    35-54 years female    22           22
                                male      22           22
                    5-14 years  female    22           22
                                male      22           22
                    55-74 years female    22           22
                                male      22           22
                    75+ years   female    22           22
                                male      22           22
Antigua and Barbuda 15-24 years female    27           27
                                male      27           27
                    25-34 years female    27           27
                                male      27           27
                    35-54 years female    27           27
                                male      27           27
                    5-14 years  female    27           27
                                male      27           27
                    55-74 years female    27           27
                                male      27           27
                    75+ years   female    27           27
                                male      27           27
Argentina           15-24 years female    31           31
                                male      31           31
                    25-34 years female    31           31
                                male      31           31
                    35-54 years female    31           31
                                male      31           31
...                                      ...          ...
United States       5-14 years  female    31           31
                                male      31           31
                    55-74 years female    31           31
                                male      31           31
                    75+ years   female    31           31
                                male      31           31
Uruguay             15-24 years female    28           28
                                male      28           28
                    25-34 years female    28           28
                                male      28           28
                    35-54 years female    28           28
                                male      28           28
                    5-14 years  female    28           28
                                male      28           28
                    55-74 years female    28           28
                                male      28           28
                    75+ years   female    28           28
                                male      28           28
Uzbekistan          15-24 years female    22           22
                                male      22           22
                    25-34 years female    22           22
                                male      22           22
                    35-54 years female    22           22
                                male      22           22
                    5-14 years  female    22           22
                                male      22           22
                    55-74 years female    22           22
                                male      22           22
                    75+ years   female    22           22
                                male      22           22

[1210 rows x 2 columns]